<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rupin</title>
</head>
<body>
<form name ="form1" action="kmeansClustering" method ="post">
    <h1>Rupin Singh Thakur</h1>
    <h1>1001651167</h1>
    Enter No of Clusters <input type="number" name="cluster">
    Enter Col1 <input type="text" name = "col1">
    Enter Col2 <input type="text" name = "col2">
    <input type="submit" name="show Clusters">
</form>

<form name="form2" action="DistanceCentroidPoints" method ="post">
    Enter No of Clusters <input type="number" name="numberOfClusters">
    Enter Col1 <input type="text" name = "col1">
    Enter Col2 <input type="text" name = "col2">
    <input type="submit" name="show Clusters">
</form>


</body>
</html>